CORS_ORIGIN=http://81.19.136.251:3000
NEXT_PUBLIC_API_URL=http://81.19.136.251:8000
AUTH_COOKIE_SECURE=false
STARTUP_SYNC_ENABLED=1
SYNC_INTERVAL_SECONDS=3600
POSTGRES_DB=million_miles
POSTGRES_USER=million_miles
POSTGRES_PASSWORD=change-me
